apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: gluster-nas
provisioner: kubernetes.io/glusterfs
parameters:
  resturl: "http://{{groups['provisionernas'][0]}}:8080"
  restuser: "admin"
  restuserkey: "{{_admin_pwd}}"