apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: gluster-ssd
provisioner: kubernetes.io/glusterfs
parameters:
  resturl: "http://{{groups['provisionerssd'][0]}}:8080"
  restuser: "admin"
  restuserkey: "{{_admin_pwd}}"